<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="ExceptionReporter">
      <section name="Contact" type="System.Configuration.NameValueSectionHandler" />
      <section name="TabsToShow" type="System.Configuration.NameValueSectionHandler" />
      <section name="Email" type="System.Configuration.NameValueSectionHandler" />
      <section name="LabelMessages" type="System.Configuration.NameValueSectionHandler" />
      <section name="UserInterface" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="CoreModel" connectionString="server=localhost;user id=newuser;password=password;database=cafeprinter;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <ExceptionReporter>
    <Contact>
      <add key="email" value="help.aigiupminhkhong@gmail.com" />
      <add key="web" value="..." />
      <add key="phone" value="..." />
      <add key="fax" value="..." />
      <add key="CompanyName" value="MAIKA" />
      <add key="ProjectCode" value="" />
      <add key="ProjectName" value="Quản lý Cafe Printer" />
    </Contact>
    <TabsToShow>
      <add key="exceptions" value="true" />
      <add key="assemblies" value="true" />
      <add key="config" value="false" />
      <add key="system" value="false" />
      <add key="contact" value="false" />
    </TabsToShow>
    <Email>
      <add key="method" value="SMTP" />
      <add key="SmtpServer" value="smtp.gmail.com" />
      <add key="SmtpUsername" value="help.aigiupminhkhong@gmail.com" />
      <add key="SmtpPassword" value="123456-A" />
      <add key="from" value="help.aigiupminhkhong@gmail.com" />
      <add key="to" value="help.aigiupminhkhong@gmail.com" />
      <add key="FolderPath" value="" />
    </Email>
    <LabelMessages>
      <add key="general" value="Có lỗi xảy ra. Chương trình sẽ tự động gởi mail về trung tâm." />
      <add key="explanation" value="Vui lòng mô tả ngắn gọn thao tác vừa thực hiện" />
      <add key="ContactTop" value="...." />
      <add key="ContactBottom" value="CUSC Software" />
    </LabelMessages>
    <UserInterface>
      <add key="ShowFlatButtons" value="false" />
      <add key="ShowLessMoreDetailButton" value="true" />
      <add key="ShowFullDetail" value="false" />
      <add key="ShowButtonIcons" value="false" />
      <add key="TitleText" value="Error Report" />
      <add key="TakeScreenshot" value="true" />
      <add key="UserExplanationFontSize" value="11" />
    </UserInterface>
  </ExceptionReporter>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>