<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="ExceptionReporter">
      <section name="Contact" type="System.Configuration.NameValueSectionHandler" />
      <section name="TabsToShow" type="System.Configuration.NameValueSectionHandler" />
      <section name="Email" type="System.Configuration.NameValueSectionHandler" />
      <section name="LabelMessages" type="System.Configuration.NameValueSectionHandler" />
      <section name="UserInterface" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    
  </configSections>
  
  <connectionStrings>
    <add name="CoreModel" connectionString="server=localhost;user id=newuser;password=password;database=cafeprinter;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SysEnvironment" value="debug" />
    <add key="SysDateFormatProvider" value="yyyy-MM-dd" />
    <add key="SysDateFormatProviderSeperator" value="-" />
    <add key="SysTimeFormatProvider" value="HH:mm:ss" />
    <add key="SysTimeFormatProviderSeperator" value=":" />
    <add key="AutoStartup" value="true" />
    <add key="AutoHideProgram" value="false" />
    <add key="AutoCheckMinutes" value="15" />
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="JsonConfigPath" value="\Data" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <ExceptionReporter>
    <Contact>
      <add key="email" value="help.aigiupminhkhong@gmail.com" />
      <add key="web" value="..." />
      <add key="phone" value="..." />
      <add key="fax" value="..." />
      <add key="CompanyName" value="MAIKA" />
      <add key="ProjectCode" value="" />
      <add key="ProjectName" value="Quản lý Cafe Printer" />
    </Contact>
    <TabsToShow>
      <add key="exceptions" value="true" />
      <add key="assemblies" value="true" />
      <add key="config" value="false" />
      <add key="system" value="false" />
      <add key="contact" value="false" />
    </TabsToShow>
    <Email>
      <add key="method" value="SMTP" />
      <add key="SmtpServer" value="smtp.gmail.com" />
      <add key="SmtpUsername" value="help.aigiupminhkhong@gmail.com" />
      <add key="SmtpPassword" value="123456-A" />
      <add key="from" value="help.aigiupminhkhong@gmail.com" />
      <add key="to" value="help.aigiupminhkhong@gmail.com" />
      <add key="FolderPath" value="" />
    </Email>
    <LabelMessages>
      <add key="general" value="Có lỗi xảy ra. Chương trình sẽ tự động gởi mail về trung tâm." />
      <add key="explanation" value="Vui lòng mô tả ngắn gọn thao tác vừa thực hiện" />
      <add key="ContactTop" value="...." />
      <add key="ContactBottom" value="CUSC Software" />
    </LabelMessages>
    <UserInterface>
      <add key="ShowFlatButtons" value="false" />
      <add key="ShowLessMoreDetailButton" value="true" />
      <add key="ShowFullDetail" value="false" />
      <add key="ShowButtonIcons" value="false" />
      <add key="TitleText" value="Error Report" />
      <add key="TakeScreenshot" value="true" />
      <add key="UserExplanationFontSize" value="11" />
    </UserInterface>
  </ExceptionReporter>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>